* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  outline: 1px solid grey;
}

li {
  list-style-type: none;
}

.control-panel {
  outline: 1px solid gray;
  background: grey;
}

.outcome {
  display: none;
}

.instructor {
  background: #87DDB8;
  padding: 1em 0 1em 0;
  height: 1.5em;
  text-align: center;
}

.matches-grid {
  padding: 8em 0 5em 0;
}

.match-button {
  background: #E3FCF1;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 1em;
}

.boards {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
  min-height: 20px;
}
.player-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.player-name {
  flex: none;
  border: 1px dotted grey;
  /*padding: 5em;*/
}

/* Guess */
.guesses {
  /*float: left;*/
  flex: auto;
  display: flex;
}

.guess {
  flex: none;
  display: flex;
}

/* Feedback */

.key-peg {
  border: 1px dotted grey;
  width: 3em;
}


/* Code */

.code {
  width: 8em;
}


/* Colors */

.red {
  background: red;
}

.grey {
  background: grey;
}

.white {
  background: white;
}


