* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  // outline: 1px solid grey;
}

.board {
  padding: 5em 20em 5em 20em;
}

.control-panel {
  outline: 1px solid gray;
  background: grey;
}

.outcome {
  display: none;
}

.instructor {
  background: #87DDB8;
  padding: 1em 0 1em 0;
  height: 1.5em;
  text-align: center;
}

.matches-grid {
  padding: 5em 0 5em 0;
}

.match-button {
  background: #E3FCF1;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 1em;
}

.viewing {
  font-size: 2em;
}
