* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  //outline: 1px solid grey;
}

li {
  list-style-type: none;
}

.control-panel {
  outline: 1px solid gray;
  background: grey;
}

.outcome {
  display: none;
}

.instructor {
  background: #87DDB8;
  padding: 1em 0 1em 0;
  height: 1.5em;
  text-align: center;
}

.matches-grid {
  padding: 8em 0 5em 0;
}

.match-button {
  background: #E3FCF1;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 1em;
}

.matches-boards {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 98%;
}
.player-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 1em;
}

.player-name {
  flex: none;
  border: 1px dotted grey;
  height: 1.5em;
  font-weight: 700;
}

.no-player {
  font-weight: 300;
}

/* Guess */
.guesses {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  flex-wrap: wrap;
}

.guess {
  flex: none;
  display: flex;
  padding: 0.5em 0 0.5em 0;
  border-top: 1px dotted grey;
}

.guess-input {
  flex: none;
  display: flex;
  padding: 0.5em 0 0.5em 0;
  border: none;
}

/* Feedback */

.feedback {
  display: flex;
  padding: 0.3em 0 0 0;
}

.key-peg {
  border: 1px dotted grey;
  width: 16px;
  height: 10px;
  margin: 2px;
}

.key-peg-input {
  border: none;
}


/* Code */

.code {
  display: flex;
  flex: auto;
  width: 100%;
  padding-left: 1.5em;
  align-items: baseline;
}

.code-peg {
  border: 1px dotted grey;
  height: 1em;
  width: 1em;
  margin: 0 0.5em 0 0.5em;
}

.code-first {
  display: flex;
  flex: auto;
  width: 100%;
  padding-left: 1.5em;
  align-items: baseline;
}

.code-peg-input  {
  border: 1px solid grey;
  height: 1.25em;
  width: 1.25em;
  margin: 0 0.5em 0 0.5em;
}


/* Colors */
.red { background: red; }
.grey { background: grey;}
.white { background: white; }

/* Types */
.alpha { background: lightblue; }
.beta { background: black;}
.gamma { background: yellow; }
.delta { background: pink; }
.epsilon { background: purple; }
.zeta { background: orange; }


